body{
    background-color: chocolate;
    text-align: center;
    list-style-position:inside

}

h1 {
    font-size: 30px;
    color: blueviolet;
}

h2 {
    color: blue;
    
}
h3 {
    color: green;
}


